/* Stile generale */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: inherit;
}

.main-content {
    flex-grow: 1; /* Occupa tutto lo spazio disponibile */
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ff9200;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.header-image {
    max-width: 30%;
    height: auto;
}

main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 60px; /* Aggiungiamo un margin-bottom per evitare la sovrapposizione */
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(25% - 20px);
    max-width: 220px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}

.card-content {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card h2 {
    margin: 0 0 10px 0;
    font-size: 1.25rem;
}

.subtitle {
    font-size: 0.85rem; 
    color: #999;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ff9200;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    align-self: center;
    margin-top: auto;
}

button:hover {
    background-color: #e68900;
    transform: scale(1.05);
}

/* --- FOOTER --- */
footer {
    padding: 10px 20px;
    background-color: #ff9200;
    color: white;
    width: 100%;
    margin-top: auto; /* Spinge il footer in fondo */
    flex-shrink: 0; /* Previene il footer di comprimersi */
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.collaboration {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.footer-logo, .footer-collab-logo {
    width: 10%; /* Aumentiamo la dimensione dell'immagine */
    height: 10%; /* Assicuriamo che sia ben visibile */
    border-radius: 10% 50% 10% 50% / 50% 10% 50% 10%; /* Manteniamo il border-radius */
    object-fit: cover; /* Manteniamo l'immagine centrata e riempita */
}

/* Stili del menù a schermo intero */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
}

.fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.fullscreen-menu.open {
    opacity: 1;
    visibility: visible;
}

.fullscreen-menu .menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.menu-btn1, .menu-btn2, .menu-btn3, .menu-btn4 {
    width: 250px; /* Pulsanti più grandi */
    padding: 20px;
    font-size: 20px; /* Dimensione testo pulsanti aumentata */
    background-color: #ff9200;
    color: white;
    border: none;
    border-radius: 30px; /* Pulsanti più stondati */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-btn1:hover, .menu-btn2:hover, .menu-btn3:hover, .menu-btn4:hover {
    background-color: #e68900;
    transform: scale(1.05);
}

/* Pulsante per chiudere il menù */
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px; /* Allineato completamente a destra */
    font-size: 40px;
    color: #ffffff; /* Colore visibile */
    background: none;
    border: none;
    cursor: pointer;
    outline: none; /* Rimuove l'highlight */
    z-index: 1001; /* Resta sempre visibile */
}

.close-btn:hover,.close-btn:focus {
    /* Nessuna transizione e nessun effetto di hover */
    outline: none; /* Assicura che l'highlight sia rimosso anche dopo il click */
}

/* Media Queries */
@media (max-width: 768px) {
    .header-image {
        max-width: 50%;
    }
    
    .card {
        width: calc(50% - 10px);
    }
    
    .close-btn {
        top: 20px;
        right: 15px; /* Manteniamo allineato a destra */
        font-size: 35px; /* Leggermente più piccola per dispositivi più piccoli */
    }
}

@media (max-width: 480px) {
    .header-image {
        max-width: 70%;
    }
    
    .card {
        width: 100%;
    }
    
    .card img {
        width: 100%;
    }
    
    .card-content {
        padding: 15px;
    }
    
    button {
        width: 60px;
    }
    
    .footer-container {
        flex-direction: column;
        gap: 10px;
    }
    
    .footer-collab-logo, .footer-logo {
        width: 60%; /* Aumentiamo la dimensione per una migliore visibilità su mobile */
        height: 70%;
        border-radius: 10% 50% 10% 50% / 50% 10% 50% 10%; /* Border-radius mantenuto */
    }
    
    .close-btn {
        font-size: 30px; /* Ancora più piccola su dispositivi molto piccoli */
        top: 15px;
        right: 15px; /* Manteniamo allineato a destra */
    }
}
